@font-face {
    font-family: "syne";
    src: url("../assets/fonts/SyneMono/SyneMono-Regular.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iceland";
    src: url("../assets/fonts/Iceland/Iceland-Regular.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
}