@mixin menu_button ($width: 150px) {
    width: $width;
    max-width: 80%;
    min-width: fit-content;
    margin: 3px auto;
}

@mixin modal_background($opacity: 0.5) {
    position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: $opacity);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
}