@import '../../globalStyles/mixins';

.configmenu {
	@include modal_background(0.8);
	padding-top: 10px;

	&__ul {
		height: 100%;
		overflow-y: scroll;
		margin-top: 5px;
	}
	
	&__li {
		line-height: 1.4;
		font-size: 0.9rem;
		margin-bottom: 6px;
	}
}
