@import "../../globalStyles/mixins";

.map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// .mapbox-logo {
// 	display: none !important;
// }

// .mapboxgl-ctrl-logo {
// 	display: none !important;
// }

// .mapbox-improve-map {
// 	display: none !important;
// }

// .mapboxgl-ctrl-compass {
// 	display: none !important;
// }

// .leaflet-bottom, .leaflet-top {
//     z-index: 0 !important; // This is 1000 by default
//     position: absolute;
//     pointer-events: none;
// }